[Unit]
Description=TechTestApp

[Service]
User=ec2-user
Group=ec2-user
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/home/ec2-user/app/
ExecStart=/home/ec2-user/app/TechTestApp serve

[Install]
WantedBy=multi-user.target